* {
    /* line-height: 0; */
}

.poem-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.stanza {
    margin: 2em;
}

.line {
    /* margin: 1em; */
    margin: 0;
}

.align-left {
    align-self: flex-start;
}

.align-right {
    align-self: flex-end;
    text-align: right;
}

.align-center {
    align-self: center;
    text-align: center;
}

.justify-left {
    text-align: left;
}

.justify-right {
    text-align: right;
}

.justify-center {
    text-align: center;
}
